body {
    width: 960px;
    margin: auto;
    background-image: url("images/background.jpg");
}

#title {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-size: 26px;
    color: white;
}

img {
    display: inline;
    height: 240px;
    width: 180px;
    margin: 5px;
}

p {
    text-align: left;
    font-size: 16px;
    color: white;
}

p.section_break {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

article {
    color: white;
}

a {
    text-decoration: underline;
}

a:link {
    color: #adebff;
}

a:visited {
    color: #daadff;
}

footer {
    color: white;
}